%main.new-user-main
  %section.new-user-contents
    %h2.new-user-input
      会員情報入力
     
    = form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-wrap") do |f|
      .contents__main
        .form-content.form-group
          
          .form-group
            = f.label :nickname, "ニックネーム"
            %span.form-require 必須
            = f.email_field :nickname, placeholder: "例)メルカリ太郎", class: "form-group__input"
    
          .form-group
            = f.label :nickname, "メールアドレス"
            %span.form-require 必須
            = f.email_field :email, placeholder: "PC・携帯どちらでも可", class: "form-group__input"
          
          .form-group
            = f.label :password, "パスワード"
            %span.form-require 必須
            = f.password_field :password, placeholder: "7文字以上", class: "form-group__input"

          .form-group
            = f.label :password, "パスワード (確認)"
            %span.form-require 必須
            = f.password_field :password, placeholder: "7文字以上", class: "form-group__input"

          .form-group
            %h3.text-left.l-character-sub-head
              本人確認
            %p.contents__text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          
          .form-group
            %div
              = f.label "お名前(全角)"
              %span.form-require 必須
            .form-name
              = f.text_field :kan_familyname, placeholder: "例)山田", class: "form-group__input name-left"
              = f.text_field :kan_firstname, placeholder: "例)彩", class: "form-group__input"
            
          .form-group
            %div
              = f.label "お名前カナ(全角)"
              %span.form-require 必須
            .form-name
              = f.text_field :kana_familyname, placeholder: "例)ヤマダ", class: "form-group__input name-left"
              = f.text_field :kana_firstname, placeholder: "例)アヤ", class: "form-group__input"
          
          .form-group
            = f.label :birth_day, "生年月日"
            %span.form-require 必須
            %br
            .birthday-form
              .birthday-form__year.birthday-form__default
                = f.select :birth_day, [["1980", "1980"], ["1981", "1981"], ["1982", "1982"], ["1983", "1983"], ["1984", "1984"], ["1985", "1985"]], prompt: "--", class: "select-default"
                .fa.fa-chevron-down.form-icon-position__birthday
                .contents__text.margin__side2px
                  年
              .birthday-form__month.birthday-form__default
                = f.select :birth_day, [["1月", "1月"], ["2月", "2月"]], prompt: "--", class: "select-default"
                .fa.fa-chevron-down.form-icon-position__birthday
                .contents__text.margin__side2px
                  月
              .birthday-form__day.birthday-form__default
                = f.select :birth_day, [["1日", "1日"], ["2日", "2日"]], prompt: "--", class: "select-default"
                .fa.fa-chevron-down.form-icon-position__birthday
                .contents__text.margin__side2px
                  日

          %p.form-info-text.contents__text
            * 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          
          .form-group
            %p.rule-text
              「次へ進む」のボタンを押すことにより、
              = link_to("利用規約", "#", {class: "blue-color-link"})
              に同意したものとみなします

            = f.submit "次へ進む", class: "next-btn btn square-btn contents__text"
            .form-group.personal-register
              %p
                = link_to("本人情報の登録について", "#", {class: "blue-color-link"})
                %i.fa.fa-chevron-right.blue-color-link