= render 'layouts/register-header2'
%main.new-user-main

  - if @user.errors.any?
    %h2
      = @user.errors.count
      件のエラーがあります。
    %ul
      - @user.errors.full_messages.each do |msg|
        %li
          = msg
        
  %section.new-user-contents
    %h2.new-user-input
      会員情報入力
    = form_for(@user, url: sms_confirmation_signup_index_path, class: "form-wrap", method: :get) do |f|
      .contents__main
        .form-content.form-group
          
          .form-group
            = f.label :nickname, "ニックネーム"
            %span.form-require 必須
            = f.text_field :nickname, placeholder: "例)メルカリ太郎", class: "form-group__input"
    
          .form-group
            = f.label :email, "メールアドレス"
            %span.form-require 必須
            = f.email_field :email, placeholder: "PC・携帯どちらでも可", class: "form-group__input reg-email"
          
          - if @user.email.blank? 
            .form-group.reg-pass
              = f.label :password, "パスワード"
              %span.form-require 必須
              = f.password_field :password, placeholder: "7文字以上", class: "form-group__input"

            .form-group.reg-pass-conf
              = f.label :password, "パスワード (確認)"
              %span.form-require 必須
              = f.password_field :password_confirmation, placeholder: "7文字以上", class: "form-group__input"

          - else
            .form-group.reg-pass{style: "display: none;"}
              = f.label :password, "パスワード"
              %span.form-require 必須
              = f.password_field :password, placeholder: "7文字以上", class: "form-group__input", value: "#{@user.password}"

            .form-group.reg-pass-conf{style: "display: none;"}
              = f.label :password, "パスワード (確認)"
              %span.form-require 必須
              = f.password_field :password_confirmation, placeholder: "7文字以上", class: "form-group__input", value: "#{@user.password_confirmation}"

          .form-group
            .text-left.l-character-sub-head.font__size-16px
              本人確認
            %p.contents__text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          
          .form-group
            %div
              = f.label "お名前(全角)"
              %span.form-require 必須
            .form-name
              = f.text_field :kan_familyname, placeholder: "例)山田", class: "form-group__input name-left"
              = f.text_field :kan_firstname, placeholder: "例)彩", class: "form-group__input"
            
          .form-group
            %div
              = f.label "お名前カナ(全角)"
              %span.form-require 必須
            .form-name
              = f.text_field :kana_familyname, placeholder: "例)ヤマダ", class: "form-group__input name-left"
              = f.text_field :kana_firstname, placeholder: "例)アヤ", class: "form-group__input"
          
          .form-group
            = f.label :birth_day, "生年月日"
            %span.form-require 必須
            %br

            .birthday-form
              .birthday-form__year
                = f.select :birth_day, options_for_select(1900..2019), prompt: "--", class: "select-default"
                .fa.fa-chevron-down.form-icon-position__normal
                .contents__text.margin__side-2px
                  年
              .birthday-form__month
                = f.select :birth_day, options_for_select(1..12), prompt: "--"
                .fa.fa-chevron-down.form-icon-position__normal
                .contents__text.margin__side-2px
                  月
              .birthday-form__day
                = f.select :birth_day, options_for_select(1..31), prompt: "--"
                .fa.fa-chevron-down.form-icon-position__normal
                .contents__text.margin__side-2px
                  日

          %p.form-info-text.contents__text
            * 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

          .form-group
            %p.rule-text
              「次へ進む」のボタンを押すことにより、
              = link_to("利用規約", "#", {class: "blue-color-link"})
              に同意したものとみなします

            = f.submit "次へ進む", class: "next-btn btn square-btn contents__text"
            .form-group.personal-register.margin__top-24px
              %p
                = link_to("本人情報の登録について", "#", {class: "blue-color-link"})
                %i.fa.fa-chevron-right.blue-color-link
= render 'layouts/register-footer'