%main.new-user-main
  %section.new-user-contents
    %h2.new-user-input
      .h2
        電話番号認証

    = form_for(:user, url: delivery_address_signup_index_path, class: "form-wrap", method: :get) do |f|
      .contents__main

        .form-content.form-group

          .form-group
            = f.label :confirmation, "認証番号"
            = f.text_field :nickname, placeholder: "認証番号を入力", class: "form-group__input"
            %p.contents__text.margin__top-8px
              SMSで届いた認証番号を入力してください

            = f.submit "認証して完了", class: "next-btn btn square-btn contents__text margin__top-24px"
      .contents__main

        .form-content.form-group

          .form-group
            .contents__subtitle
              30秒たっても認証番号が届かない方へ
            %p.contents__text.margin__top-8px
              電話で認証番号を聞くこともできます。

            = f.submit "電話で認証番号を聞く（通話無料）", class: "next-btn btn square-btn contents__text margin__top-24px"

      .contents__main

        .form-content.form-group

          .form-group
            .contents__subtitle
              認証番号を再送することもできます。もう一度電話番号を入力して下さい。
          = link_to("電話番号を再度入力する", "#", {class:"contents__text top-8px blue-color-link"})

          .form-group
            %p.rule-text
              ※SMSが届かない場合は
              = link_to("SMS受信設定", "#", {class: "blue-color-link"})
              を確認して、もう一度電話番号を入力してください。