%main.pur
  %section.pur-contents
    %h2.pur-title 購入が完了しました
    %section.pur-item
      .pur-item__inner
        .pur-item__inner__img-box
          = image_tag @item.images.first.image.url, class: "pur-item__inner__img-box__img"
        %p.pur-item__inner__text
          = @item.name
        = form_with url: pay_item_purchase_index_path(@item.id), method: :post, local: true, class: "pur-form" do |f|
          %p.pur-form__item-price 
            = @item.price
            %span.pur-form__item-price__shipping-fee 
              送料込み

    %section.pur-delivery
      .pur-delivery__inner
        %h3.pur-delivery__inner__title 配送先
        %address.pur-delivery__inner__address
          = current_user.postal_code
          %br/
          = current_user.region
          = current_user.city
          = current_user.block
          = current_user.buildings
          %br/
          = current_user.nickname
        = link_to "#", class: "pur-link" do
          = fa_icon 'angle-right', class: 'pur-link__icon'
    %section.pur-card
      .pur-card__inner
        %h3.pur-card__inner__text 支払い方法
        %p.pur-card__inner__card-info
          = "**** **** **** " + @default_card_information.last4
          %br/
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
        %figure.card-icon
          = image_tag asset_path('purchase/master-card.svg'), size: '34x20'
        = link_to "#", class: "pur-link" do
          = fa_icon 'angle-right', class: 'pur-link__icon'