%main.pur
  %section.pur-contents
    %h2.pur-title 購入内容の確認
    %section.pur-item
      .pur-item__inner
        .pur-item__inner__img-box
          = image_tag asset_path('index/benchpress.jpg'), class: "pur-item__inner__img-box__img"
        %p.pur-item__inner__text ベンチプレス
        = form_with model: @item, method: :post, local: true, class: "pur-form" do |f|
          %p.pur-form__item-price 
            ¥50,000
            %span.pur-form__item-price__shipping-fee 
              送料込み
          %ul.pur-form__point
            %li.pur-form__point__box
              .pur-form__point__box__text 
                ポイントはありません
          %ul.pur-form__purchase-price
            %li.pur-form__purchase-price__box
              .pur-form__purchase-price__box__text 
                支払い金額
              .pur-form__purchase-price__box__price
                %span.pur-form__purchase-price__box__price__text
                  ¥50,000
          = f.submit "購入する", class: "btn-red pur"
    %section.pur-delivery
      .pur-delivery__inner
        %h3.pur-delivery__inner__title 配送先
        %address.pur-delivery__inner__address
          〒117-1129
          %br/
          筋肉都 大胸筋市
          上部区弾鐘跳1丁目171番地129
          Pump Up 1号室
          %br/
          山本 義徳 
        = link_to "#", class: "pur-link" do
          %span.pur-link__text 変更する
          = fa_icon 'angle-right', class: 'pur-link__icon'
    %section.pur-card
      .pur-card__inner
        %h3.pur-card__inner__text 支払い方法
        %p.pur-card__inner__card-info
          ************1129
          %br/
          11/29
        %figure.card-icon
          = image_tag asset_path('purchase/master-card.svg'), size: '34x20'
        = link_to "#", class: "pur-link" do
          %span.pur-link__text 変更する
          = fa_icon 'angle-right', class: 'pur-link__icon'