.in-main
  .in-main__contents
    .in-banner
      = link_to ''
    .in-popular-categories
      %h2.in-popular-categories__head 人気のカテゴリー
      .in-popular-categories__row
        %ul.in-popular-categories__row__ul
          %li.in-popular-categories__row__ul__li
            = link_to '', class: "in-popular-categories__row__ul__li__category" do
              レディース
          %li.in-popular-categories__row__ul__li
            = link_to '', class: "in-popular-categories__row__ul__li__category" do
              メンズ
          %li.in-popular-categories__row__ul__li
            = link_to '', class: "in-popular-categories__row__ul__li__category" do
              家電・スマホ・カメラ
          %li.in-popular-categories__row__ul__li
            = link_to '', class: "in-popular-categories__row__ul__li__category" do
              おもちゃ・ホビー・グッズ
    .in-category-new
      .in-category-new__block
        .in-category-new__block__top
          %h3.in-new-heading レディース新着アイテム
          = link_to '', class: "in-search-for-more" do
            もっと見る
            = fa_icon 'chevron-right'
        .in-category-new__block__all
          .in-category-new__block__all__items
            .in-category-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレスベンチプレスベンチプレスベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"
            .in-category-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text 筋肉筋肉筋肉筋肉筋肉筋肉筋肉筋肉筋肉筋肉筋肉筋肉
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"
            .in-category-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"
            .in-category-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"
            .in-category-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"
            .in-category-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"
            .in-category-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"
            .in-category-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"
            .in-category-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"
            .in-category-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"
      .in-category-new__block
        .in-category-new__block__top
          %h3.in-new-heading メンズ新着アイテム
          = link_to '', class: "in-search-for-more" do
            もっと見る
            = fa_icon 'chevron-right'
        .in-category-new__block__all
          .in-category-new__block__all__items
            .in-category-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"
      .in-category-new__block
        .in-category-new__block__top
          %h3.in-new-heading 家電・スマホ・カメラ新着アイテム
          = link_to '', class: "in-search-for-more" do
            もっと見る
            = fa_icon 'chevron-right'
        .in-category-new__block__all
          .in-category-new__block__all__items
            .in-category-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"    
      .in-category-new__block
        .in-category-new__block__top
          %h3.in-new-heading おもちゃ・ホビー・グッズ新着アイテム
          = link_to '', class: "in-search-for-more" do
            もっと見る
            = fa_icon 'chevron-right'
        .in-category-new__block__all
          .in-category-new__block__all__items
            .in-category-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"
    .in-popular-brands
      %h2.in-popular-brands__head 人気のブランド
      .in-popular-brands__row
        %ul.in-popular-brands__row__ul
          %li.in-popular-brands__row__ul__li
            = link_to '', class: "in-popular-categories__row__ul__li__category" do
              シャネル
          %li.in-popular-brands__row__ul__li
            = link_to '', class: "in-popular-categories__row__ul__li__category" do
              ルイヴィトン
          %li.in-popular-brands__row__ul__li
            = link_to '', class: "in-popular-categories__row__ul__li__category" do
              シュプリーム
          %li.in-popular-brands__row__ul__li
            = link_to '', class: "in-popular-categories__row__ul__li__category" do
              ナイキ
    .in-brand-new
      .in-brand-new__block
        .in-brand-new__block__top
          %h3.in-new-heading シャネル新着アイテム
          = link_to '', class: "in-search-for-more" do
            もっと見る
            = fa_icon 'chevron-right'
        .in-brand-new__block__all
          .in-brand-new__block__all__items
            .in-brand-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"
      .in-brand-new__block
        .in-brand-new__block__top
          %h3.in-new-heading ルイヴィトン新着アイテム
          = link_to '', class: "in-search-for-more" do
            もっと見る
            = fa_icon 'chevron-right'
        .in-brand-new__block__all
          .in-brand-new__block__all__items
            .in-brand-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"
      .in-brand-new__block
        .in-brand-new__block__top
          %h3.in-new-heading シュプリーム新着アイテム
          = link_to '', class: "in-search-for-more" do
            もっと見る
            = fa_icon 'chevron-right'
        .in-brand-new__block__all
          .in-brand-new__block__all__items
            .in-brand-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"    
      .in-brand-new__block
        .in-brand-new__block__top
          %h3.in-new-heading ナイキ新着アイテム
          = link_to '', class: "in-search-for-more" do
            もっと見る
            = fa_icon 'chevron-right'
        .in-brand-new__block__all
          .in-brand-new__block__all__items
            .in-brand-new__block__all__items__each
              = link_to '', class:"in-item" do
                %figure.in-item__detail
                  %figcaption.in-item__detail__description
                    %span.in-item__detail__description__text ベンチプレス
                  .in-item__detail__img
                    %span.in-item__detail__img__price ¥50,000
                    = image_tag asset_path('index/benchpress.jpg'), class: "in-item__detail__img__img"