%header
  .hd-contents
    .hd-top
      %h1.hd-top__logo
        = link_to root_path  do
          = image_tag 'header/mercari-logo.svg', size: '134x36', class: "hd-top__logo__link"
      = form_with url: "", method: :get, local: true, class: "hd-top__form" do |f|
        = f.text_field :search, class: 'hd-top__form__textarea', placeholder: '何かお探しですか？'
        = f.button type: 'submit', class: 'hd-top__form__icon', name: nil do
          = fa_icon 'search'
    .hd-btm
      %nav.hd-btm__left
        %ul.hd-left-list
          %li.hd-left-list__category
            %h2.hd-category-brand-components
              =link_to '', class: "hd-category-brand-components__link" do
                = fa_icon 'list-ul', class: 'hd-category-brand-components__link__logo'
                %span.hd-category-brand-components__link__text カテゴリーから探す
          %li.hd-left-list__brand
            %h2.hd-category-brand-components
              =link_to '', class: "hd-category-brand-components__link" do
                = fa_icon 'tags', class: 'hd-category-brand-components__link__logo'
                %span.hd-category-brand-components__link__text ブランドから探す
      .hd-btm__right
        - if user_signed_in?
          %ul.hd-right-list
            %li.hd-right-list__likelist
              =link_to '', class: "hd-likelist-link" do
                = fa_icon 'heart-o', class: 'hd-likelist-link__logo'
                %span.hd-likelist-link__text いいね!一覧
            %li.hd-right-list__news
              =link_to '', class: "hd-news-link" do
                = fa_icon 'bell-o', class: 'hd-news-link__logo'
                %span.hd-news-link__text お知らせ
              %ul 
            %li.hd-right-list__todolist
              =link_to '', class: "hd-todolist-link" do
                = fa_icon 'check', class: 'hd-todolist-link__logo'  
                %span.hd-todolist-link__text やることリスト
              %ul
            %li.hd-right-list__mypage
              =link_to mypage_top_path, class: "hd-right-list__mypage__link" do
                %figure.hd-right-list__mypage__link__image
                  %div.hd-right-list__mypage__link__image__div
                    = image_tag 'header/userimage_if_noimage.png', size:'32x32', class: 'mypage-image' 
                %span.hd-right-list__mypage__link__text マイページ
        - else
          %ul.hd-right-login
            %li
              = link_to "新規会員登録", signup_index_path
            %li
              = link_to "ログイン", new_user_session_path

