%section.dl-box
  .dl-main-all
    .dl-main-up
      %h1.dl-name
        = @item.name
      .dl-main
        .dl-photo
          .is-photo
            .is-photo__portion
              .is-photo__up
                = image_tag @item.images.first.image.url, class:"change-image"
                .is-photo__down
                  - if @item.sold_condition == 3
                    .sold-tag
                      %div SOLD

            .is-photo__down__portion
              .owl-dots
                - @images.each do |image|
                  .owl-dot
                    = image_tag image.image.url
        %table.dl-detail-table
          %tbody
            %tr.dl-tables
              %th 出品者
              %td
                = link_to "#" do
                  = @item.user.nickname
                %div
                  .dl-user-ratings
                    %i.fa.fa-laugh-squint.icon__good
                    %span 8
                  .dl-user-ratings
                    %i.fa.fa-meh.icon__normal
                    %span 1
                  .dl-user-ratings
                    %i.fa.fa-dizzy.icon__bad
                    %span 0

            %tr.dl-tables
              %th カテゴリー
              %td
                .blue-color-link
                  = link_to "/categories/#{@parent_category.id}" do
                    = @parent_category.name
                    %br
                  %i.fa.fa-chevron-right
                  = link_to "/categories/#{@child_category.id}" do
                    = @child_category.name
                    %br
                  %i.fa.fa-chevron-right
                  = link_to "/categories/#{@item.category.id}" do
                    = @item.category.name

            %tr.dl-tables
              %th ブランド
              %td
                = link_to "#" do
                  - if @item.brand.present?
                    = @item.brand.name
                  - else

            %tr.dl-tables
              %th 商品の状態
              %td
                - case @item.sold_condition
                  - when 1 then
                    新品、未使用
                  - when 2 then
                    未使用に近い
                  - when 3 then
                    目立った傷や汚れなし
                  - when 4 then
                    やや傷や汚れあり
                  - when 5 then
                    傷や汚れあり
                  - when 6 then
                    全体的に状態が悪い

            %tr.dl-tables
              %th 配送料の負担
              %td
                - case @item.delivery_payee
                  - when 1 then
                    送料込み(出品者負担)
                  - when 2 then
                    着払い(購入者負担)

            %tr.dl-tables
              %th 配送の方法
              %td
                - case @item.delivery_method
                  - when 1 then
                    未定
                  - when 2 then
                    らくらくメルカリ便
                  - when 3 then
                    ゆうメール
                  - when 4 then
                    レターパック普通郵便（定形、定形外）
                  - when 5 then
                    クロネコヤマト
                  - when 6 then
                    ゆうパック
                  - when 7 then
                    クリックポスト
                  - when 8 then
                    ゆうパケット
                  - when 9 then
                    徒歩

            %tr.dl-tables
              %th 配送元地域
              %td
                = link_to "#" do
                  = @item.region.region
            %tr.dl-tables
              %th 配送日の目安
              %td
                - case @item.delivery_time
                  - when 1 then
                    1~2日で発送
                  - when 2 then
                    2~3日で発送
                  - when 3 then
                    4~7日で発送
                  - when 4 then
                    今年中に発送
                  - when 5 then
                    発送しない

      .dl-price-box.text-center
        %span.dl-price ¥#{@item.price.to_s(:delimited, delimiter: ',')}
        %span.dl-tax (税込)
        %span.dl-shipping-fee 送料込み

      .dl-message
        %p.dl-description-inner
          =@item.description

    .dl-third-btn
      %a.dl-btn-various
        = form_with url: edit_item_path(@item), method: :get, local: true do |f|
          = f.submit "商品の編集", class: "dl-btn-various__edit"
        %p.dl-or
        = form_with url: item_path(@item), local: true, method: :delete do |f|
          = f.submit "この商品を削除する", class: "dl-btn-various__delete"

    .dl-detail-message
      = form_with url: "", method: :post, local: true, class: "dl-message-form" do |f|
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = f.text_field :comment, class: "dl-textarea-default"
        = f.submit "コメントする", class: "dl-message-submit-btn-default"