%section.is-box
  %h1.is-name
    = @item.name
  .is-main
    .is-photo
      .is-photo__portion
        .is-photo__up
          = image_tag @item.images.first.image.url, class:"change-image"
          .is-photo__down
            - if @item.sold_condition == 3
              .sold-tag
                %div SOLD
        .is-photo__down__portion
          .owl-dots
            - @images.each do |image|
              .owl-dot
                = image_tag image.image.url
    %table.is-detail-table
      %tbody
        %tr.is-tables
          %th 出品者
          %td
            = link_to "#" do
              = @item.user.nickname
            %div
              .is-user-ratings
                %i.fas.fa-laugh-squint.icon__good
                %span 8
              .is-user-ratings
                %i.fas.fa-meh.icon__normal
                %span 1
              .is-user-ratings
                %i.fas.fa-dizzy.icon__bad
                %span 0
        %tr.is-tables
          %th カテゴリー
          %td
            .blue-color-link
              = link_to "/categories/#{@parent_category.id}" do
                = @parent_category.name
                %br
              %i.fa.fa-chevron-right
              = link_to "/categories/#{@child_category.id}" do
                = @child_category.name
                %br
              %i.fa.fa-chevron-right
              = link_to "/categories/#{@item.category.id}" do
                = @item.category.name
        %tr.is-tables
          %th ブランド
          %td
            = link_to "#" do
              - if @item.brand.present?
                = @item.brand.name
              - else
        %tr.is-tables
          %th 商品の状態
          %td
            - case @item.sold_condition
              - when 1 then
                新品、未使用
              - when 2 then
                未使用に近い
              - when 3 then
                目立った傷や汚れなし
              - when 4 then
                やや傷や汚れあり
              - when 5 then
                傷や汚れあり
              - when 6 then
                全体的に状態が悪い
        %tr.is-tables
          %th 配送料の負担
          %td
            - case @item.delivery_payee
              - when 1 then
                送料込み(出品者負担)
              - when 2 then
                着払い(購入者負担)
        %tr.is-tables
          %th 配送の方法
          %td
            - case @item.delivery_method
              - when 1 then
                未定
              - when 2 then
                らくらくメルカリ便
              - when 3 then
                ゆうメール
              - when 4 then
                レターパック普通郵便（定形、定形外）
              - when 5 then
                クロネコヤマト
              - when 6 then
                ゆうパック
              - when 7 then
                クリックポスト
              - when 8 then
                ゆうパケット
              - when 9 then
                徒歩
        %tr.is-tables
          %th 配送元地域
          %td
            = link_to "#" do
              = @item.region.region
        %tr.is-tables
          %th 配送日の目安
          %td
            - case @item.delivery_time
              - when 1 then
                1~2日で発送
              - when 2 then
                2~3日で発送
              - when 3 then
                4~7日で発送
              - when 4 then
                今年中に発送
              - when 5 then
                発送しない
  .is-price-box.text-center
    %span.is-price ¥#{@item.price.to_s(:delimited, delimiter: ',')}
    %span.is-tax (税込)
    %span.is-shipping-fee 送料込み
  - if @item.sold_condition == 3
    %button.btn-buy-not-gray 売り切れました
  - else
    = link_to "購入画面に進む", item_purchase_index_path(@item), class: "is-buy-btn"
  .is-message
    %p.is-description-inner
      = @item.description
  .is-button-container
    .is-button-left
      %button{class: "is-button-like", type: "button"}
        %span
          %i.far.fa-heart
            いいね!
            = @item.likes.length
      %a.is-button_is-button-report
        %span
          %i.far.fa-flag
          不適切な商品の報告
    .is-button-right
      = link_to "#" do
        %i.fa.fa-lock.blue-color-link.font__size-14px
          あんしん・あんぜんへの取り組み
.is-nav.blue-color-link.font__size-14px
  %li.is-nav__prev
    = link_to "#" do
      %i.fa.fa-chevron-left
        通勤をより過酷に！加重Macbook Air 50kg
  %li.is-nav__next
    = link_to "#" do
      [カフェイン1000g配合]自作エナジードリンク
      %i.fa.fa-chevron-right
.is-sns-box
  %ul.is-sns-box__items
    = image_tag 'item/sns.png', size: '160x50'
.is-in-user
  %section.is-container
    %h2.is-items-head
      = link_to "#", class:"blue-color-link" do
        = @item.user.nickname
        さんのその他の出品
      .is-content
        - @item.user.items.each do |item|
          - unless @item == item
            %section.is-content__card
              = link_to item_path(item) do
                .is-content__photo
                  = image_tag item.images.first.image.url
                .is-content__body
                  .is-content__name.in-item__detail__description__text
                    = item.name
                  .is-content__num
                    .is-content__price
                      ¥#{item.price.to_s(:delimited, delimiter: ',')}
                    - unless item.likes.length == 0
                      %i.fa.fa-heart-o.font__gray
                        .black-inline
                          = item.likes.length
= render "layouts/breadcrumbs-bottom", item: @item