%footer.register-footer
  %nav
    %ul
      %li
        = link_to "プライバシーポリシー", "#"
      %li
        = link_to "メルカリ利用規約", "#"
      %li
        = link_to "特定商取引に関する表記", "#"
  = link_to "#" do
    = image_tag "footer/logo-gray.svg", size: "80x35"
  %p
    %small c 2019 Mercari