.ssb-contents
  .ssb-contents__soat
    %select{name: :sort_order, classs: "sort_order"}
      %option{value: "location.pathname", name: "location.pathname"}
        並び替え
      %option{value: "price_asc"}
        価格の安い順
      %option{value: "price_desc"}
        価格の高い順
      %option{value: "created_at_asc"}
        出品の古い順
      %option{value: "created_at_desc"}
        出品の新しい順
  .ssb-contents__container.margin__top-40px
    .ssb-contents__box
      .sub-title
        詳細検索
      .sub-title__sub
        キーワードを追加する
      = form_with url: search_items_path, method: :get, local: true, class: "" do |f|
        = f.text_field :key_word, placeholder: "例）値下げ", class: "form-group__input"
        .ssb-contents__box
          .sub-title__sub
            カテゴリーを選択する
            -# カテゴリ表示JS
          = f.text_field :nickname, placeholder: "例)メルカリ太郎", class: "form-group__input"
        .ssb-contents__box
          .sub-title__sub
            ブランド名から探す
          = f.text_field :nickname, placeholder: "例）シャネル", class: "form-group__input"
        .ssb-contents__box
          .sub-title__sub
            サイズを指定する
          = f.collection_select :size_id, @sizes, :id, :name, include_blank: 'すべて'
        .ssb-contents__box
          .sub-title__sub
            価格
          = f.select :price_range, [["300~1000","300~1000"],["1000~5000","1000~5000"],["5000~10000","5000~10000"],["10000~30000","10000~30000"],["30000~50000","30000~50000"],["50000~","50000~"]], include_blank: '選択してください', class: "select-default"
          .ssb-contents__flex-box
            = f.number_field :price_low, placeholder: "¥ Min", class: "form-serch-price"
            = "~"
            = f.number_field :price_high, placeholder: "¥ Max", class: "form-serch-price"
        .ssb-contents__box
          .sub-title__sub
            商品の状態
          .ssb-contents__box__inner
            .ssb-contents__each-checkbox
              = f.check_box :all, class: ""
              = f.label :all, "すべて", class: "font__size-11px"
            .ssb-contents__each-checkbox
              = f.check_box :new, class: ""
              = f.label :new, "新品、未使用", class: "font__size-11px"
            .ssb-contents__each-checkbox
              = f.check_box :nearly_new, class: ""
              = f.label :nearly_new, "未使用に近い", class: "font__size-11px"
            .ssb-contents__each-checkbox
              = f.check_box :good, class: ""
              = f.label :good, "目立った傷や汚れなし", class: "font__size-11px"
            .ssb-contents__each-checkbox
              = f.check_box :little_dirty, class: ""
              = f.label :little_dirty, "やや傷や汚れあり", class: "font__size-11px"
            .ssb-contents__each-checkbox
              = f.check_box :nearly_bad, class: ""
              = f.label :nearly_bad, "傷や汚れあり", class: "font__size-11px"
            .ssb-contents__each-checkbox
              = f.check_box :bad, class: ""
              = f.label :bad, "全体的に状態が悪い", class: "font__size-11px"
        .ssb-contents__box
          .sub-title__sub
            配送料の負担
          .ssb-contents__each-checkbox
            = f.check_box :delivery_all, class: ""
            = f.label :delivery_all, "すべて", class: "font__size-11px"
          .ssb-contents__each-checkbox
            = f.check_box :cash_on_delivery, class: ""
            = f.label :cash_on_delivery, "着払い（購入者負担）", class: "font__size-11px"
          .ssb-contents__each-checkbox
            = f.check_box :free_delivery, class: ""
            = f.label :free_delivery, "送料込み（出品者負担）", class: "font__size-11px"
        .ssb-contents__box
          .sub-title__sub
            販売状況
          .ssb-contents__each-checkbox
            = f.check_box :all_sales_status, class: ""
            = f.label :all_sales_status, "すべて", class: "font__size-11px"
          .ssb-contents__each-checkbox
            = f.check_box :on_sale, class: ""
            = f.label :on_sale, "販売中", class: "font__size-11px"
          .ssb-contents__each-checkbox
            = f.check_box :sold_out, class: ""
            = f.label :sold_out, "売り切れ", class: "font__size-11px"
          .ssb-contents__flex-box
            .btn-gray
              クリア
            .btn-gray
              完了